List((
    texture_width: 20,
    texture_height: 20,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 7,
            height: 20,
        ),
        (
            x: 7,
            y: 0,
            width: 7,
            height: 20,
        ),
        (
            x: 14,
            y: 0,
            width: 3,
            height: 3,
        ),
        (
            x: 17,
            y: 0,
            width: 3,
            height: 3,
        ),
    ],
))

