(
  axes: {
    "bike_blue": Emulated(pos: Key(D), neg: Key(A)),
    "bike_red": Emulated(pos: Key(L), neg: Key(J)),
  },
  actions: {
    "bike_blue_boost": [[Key(W)]],
    "bike_red_boost": [[Key(I)]],
  },
)
